<!DOCTYPE html>
<html>
<head>
  <title>KickbacksTestRun</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<navbar class="navbar-fixed-top">
	<div class="container">
		<%= render 'layouts/navigation'%>
    </div> 
</navbar>
      <div id="user_nav">
			<%if user_signed_in? %>
				Signed in as <%= current_user.email %>. Not You?
				<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
			<%else %>
				<%= link_to "Sign Up", new_user_registration_path %> or 
				<%= link_to "Sign In", new_user_session_path %>
			<% end %>
		</div>
		  <%= yield %>
</body>
</html>

